body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181818;
    overflow: hidden;

}

.loading{
    width: 800px;
    height: 800px;
    position: relative;
    background: radial-gradient(#333 5%, #181818 50%);
    animation: spin 2s linear infinite;
    animation-direction: reverse;
}

.shape{
    display: block;
    position: absolute;
    background-color: #fff;
    mix-blend-mode: exclusion;
}

.shape.shape-1{
    animation: spin-1 2s ease-in-out infinite;
}

.shape.shape-2{
    animation: spin-2 2s ease-in-out infinite;
}

.shape.shape-3{
    animation: spin-3 2s ease-in-out infinite;
}

.shape.shape-4{
    animation: spin-4 2s ease-in-out infinite;
}

.shape.shape-5{
    animation: spin-5 2s ease-in-out infinite;
}

.shape.shape-6{
    animation: spin-6 2s ease-in-out infinite;
}

.shape.shape-7{
    animation: spin-7 2s ease-in-out infinite;
}

.shape.shape-8{
    animation: spin-8 2s ease-in-out infinite;
}

.shape.shape-1{
    width: 320px;
    height: 160px;
    top: 80px;
    left: 240px;
}

.shape.shape-2{
    width: 160px;
    height: 320px;
    top: 240px;
    right: 80px;
}

.shape.shape-3{
    width: 320px;
    height: 160px;
    bottom: 80px;
    left: 240px;
}

.shape.shape-4{
    width: 160px;
    height: 320px;
    top: 240px;
    left: 80px;
}


.shape.shape-5{
    width: 160px;
    height: 80px;
    top: 240px;
    left: 320px;
}

.shape.shape-6{
    width: 80px;
    height: 160px;
    top: 320px;
    right: 240px;
}

.shape.shape-7{
    width: 160px;
    height: 80px;
    bottom: 240px;
    left: 320px;
}

.shape.shape-8{
    width: 80px;
    height: 160px;
    top: 320px;
    left: 240px;
}

@keyframes spin{
    100%{
        transform: rotate(90deg);
    }
}

@keyframes spin-1{
    25% {
        transform: rotate(90deg) translate(240px, -80px) scaleX(1);
    }

    50% {
        transform: rotate(90deg) translate(240px, -80px) scaleX(2);
    }

    75% {
        transform: rotate(90deg) translate(240px, -80px) scaleX(2);
    }
    
    100% {
        transform: rotate(90deg) translate(240px, -80px) scaleX(2);
    }
}

@keyframes spin-2{
    25% {
        transform: rotate(0deg) translate(0px) scaleY(1);
    }

    50% {
        transform: rotate(90deg) translate(80px, 240px) scaleY(1);
    }

    75% {
        transform: rotate(90deg) translate(80px, 240px) scaleY(2)
    }

    100% {
        transform: rotate(90deg) translate(80px, 240px) scaleY(2);
    }
}

@keyframes spin-3{
    25% {
        transform: rotate(0deg) translate(0px) scaleX(1);
    }

    50% {
        transform: rotate(0deg) translate(0px) scaleX(1);
    }

    75% {
        transform: rotate(90deg) translate(-240px, 80px) scaleX(1);
    }

    100% {
        transform: rotate(90deg) translate(-240px, 80px) scaleX(2);
    }
}

@keyframes spin-4{
    25% {
        transform: rotate(0deg) translate(0px) scaleY(1);
    }

    50% {
        transform: rotate(0deg) translate(0px) scaleY(1);
    }

    75% {
        transform: rotate(0deg) translate(0px) scaleY(1);
    }

    100% {
        transform: rotate(90deg) translate(-80px, -240px) scaleY(2);
    }
}

@keyframes spin-5{
    25% {
        transform: rotate(0deg) translate(0px) scaleX(1);
    }

    50% {
        transform: rotate(0deg) translate(0px) scaleX(1);
    }

    75% {
        transform: rotate(90deg) translate(120px, -40px) scaleX(1);
    }

    100% {
        transform: rotate(90deg) translate(120px, -40px) scaleX(2);
    }
}

@keyframes spin-6{
    25% {
        transform: rotate(0deg) translate(0px) scaleY(1);
    }

    50% {
        transform: rotate(0deg) translate(0px) scaleY(1);
    }

    75% {
        transform: rotate(0deg) translate(0px) scaleY(1);
    }

    100% {
        transform: rotate(90deg) translate(40px, 120px) scaleY(2);
    }
}

@keyframes spin-7{
    25% {
        transform: rotate(90deg) translate(-120px, 40px) scaleX(1);
    }

    50% {
        transform: rotate(90deg) translate(-120px, 40px) scaleX(2);
    }

    75% {
        transform: rotate(90deg) translate(-120px, 40px) scaleX(2);
    }

    100% {
        transform: rotate(90deg) translate(-120px, 40px) scaleX(2);
    }
    
}

@keyframes spin-8{
    25% {
        transform: rotate(0deg) translate(0px) scaleY(1);
    }

    50% {
        transform: rotate(90deg) translate(-40px, -120px) scaleY(1);
    }

    75% {
        transform: rotate(90deg) translate(-40px, -120px) scaleY(2);
    }

    100% {
        transform: rotate(90deg) translate(-40px, -120px) scaleY(2);
    }
}